<div class="login-logo">
    <h1 class="logo1"><b>Membership </b> </h1>
    <h2 class="logo" ><b>Management</b>  System</h2>
  </div>

<div class="login-box">

    
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Log in to start your session</p>
  
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
          <div class="input-group mb-3">
            <input 
              type="email" 
              class="form-control" 
              name="email" 
              placeholder="Email" 
              [(ngModel)]="email" 
              autocomplete="email" 
              required 
              #emailField="ngModel"
            >
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
           <!-- Hidden username field for accessibility -->
        <input type="text" name="username" style="display:none;" autocomplete="username">
          <div class="input-group mb-3">
            <input 
              type="password" 
              class="form-control" 
              name="password" 
              placeholder="Password" 
              [(ngModel)]="password"
              autocomplete="password"  
              required 
              #passwordField="ngModel"
            >
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" id="remember">
                <label for="remember"><b>Remember Me</b></label>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-4">
              <button 
                type="submit" 
                class="btn btn-success btn-block" 
               
              >
                Log In
              </button>
            </div>
            <!-- /.col -->
          </div>
        </form>
  
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
  